/*
 * Generic style file for Arduino material
 *
 * Copyright (C) 2008 Abelardo Pardo, The University of Sydney

 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor
 * Boston, MA  02110-1301, USA.
 *
 * Author: Abelardo Pardo (abelardo.pardo@sydney.edu.au)
 *
 */

@import url('nature.css');

body {
    font-family: Verdana, "Lucida Grande", "Lucida Sans", "Trebuchet MS", Tahoma, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 100%;
    background-color: #111;
    color: #555;
    margin: 0;
    padding: 0;
}

div.document {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
 }

.centered
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 }

.img-middle {
  vertical-align: middle;
}

/* Table style */
table.docutils,
table.docutils th,
table.docutils td {
    border: 1px solid black;
    padding: 3px;
    border-spacing: 0;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    vertical-align: middle;
}

table.docutils th.head {
    text-align: center;
}

table.reversedhead th.head {
    background-color: #000000;
    color: #FFFFFF;
}

/* ------------------------------------------------------------ */
/*                                                              */
/* Matrix of topics                                             */
/*                                                              */
/* ------------------------------------------------------------ */
table.topic-matrix
{
  border-collapse: collapse;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

table.topic-matrix td,
table.topic-matrix th
{
    padding: 4px;
  width:120px;
  height:120px;
}

button.topic-matrix
{
  text-align: center;
  width:100%;
  height:100%;
  font-size: 95%;
  font-weight: bold;
}

/* Instructor guide and "framed" goes in a frame! */
div.iguide,
div.framed {
    border: 1px solid black;
    padding: 3px;
 }

/* Admonition background */
div.admonition.iguide,
div.admonition-solution,
div.admonition-example,
div.admonition.important {
    background-color: #EEEEEE;
}

/* Example */
div.admonition-example p.admonition-title {
    background-image: url("example.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
 }

/* Note in general */
p.admonition-title {
    background-image: url("note.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
 }

div.hint {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
}

p.admonition-title:after {
    content: "";
 }

p.admonition-title {
    display: block;
}

/* Images */
.float-left {
   float: left;
 }

.float-right {
   float: right;
 }

/* Image captions */
div.float-right p.caption {
   text-align: right;
 }

div.float-left p.caption {
   text-align: right;
 }

div.reference p.caption {
   font-size: 70%;
}

/* Top banner */
div.related a {
    color: #000000;
}
div.related {
    background-color: #F9B72C;
    color: #000000;
    font-size: 0.9em;
    line-height: 32px;
    text-shadow: 0 1px 0 #444444;
}

div.footer {
    background-color: #F9B72C;
    color: #000000;
    font-size: 75%;
    padding: 13px 0;
    text-align: center;
    width: 100%;
}

/* Activity title goes centered */
div.lecture  h1,
div.activity  h2,
div.activity  h3 {
    color: #12416C;
 }

div.activity > h2,
div.activity > h3 {
    text-align: center;
 }

/* Activity resources, workplan, objectives, assessment */
div.objectives > h3,
div.objectives > h2 {
    background-image: url("target.png");
}

div.resources > h3,
div.resources > h2 {
    background-image: url("computer.png");
}

div.workplan > h3,
div.workplan > h2 {
    background-image: url("desktop.png");
}

div.assessment > h3,
div.assessment > h2 {
    background-image: url("correct.png");
}

div.objectives > h3,
div.objectives > h2,
div.assessment > h3,
div.assessment > h2,
div.workplan > h3,
div.workplan > h2,
div.resources > h3,
div.resources > h2 {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 40px;
}

/* Footer */
.footer
{
  background-image: url(by-nc-sa.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 85px;
}

div#top_header {
  height: 50px;
  background-color: white;
  background-image: url("logo.png");
  background-position: left center;
  background-repeat: no-repeat;
  /* padding-left: 110px; */
  display: table;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

div#top_header > div {
  display: table-cell;
  vertical-align: middle;
}

/* DURATION */
div.adagio_duration_select {
   text-align: right;
 }

/* EMBEDED QUIZ */
div.adagio_embedded_quiz {
    border: 1px solid black;
    margin-top: 0.5em;
    padding: 0.5em;
 }

/*****************************************************
 * document - toggleable sections
 *****************************************************/

.html-toggle-button
{
    position: relative;
}

.html-toggle-button:hover
{
    /* give a little bit of hint that this is clickable */
    cursor: pointer;
    box-shadow: 2px 2px 2px #003469;
    -moz-box-shadow: 2px 2px 2px #003469;
    -webkit-box-shadow: 2px 2px 2px #003469;
}

div.body div.section:not(.emphasize-children) > div.section:not(.emphasized) > h3.html-toggle-button:hover,
div.body h4.html-toggle-button:hover
{
    background: #92BCDE;
    box-shadow: 0 0  2px #003469;
    -moz-box-shadow: 0 0 2px #003469;
    -webkit-box-shadow: 0 0 2px #003469;
}

.activity.collapsed > .html-toggle-button
{
    margin-bottom: 1em;
}

/* .activity.collapsed > .html-toggle-button:before */
.activity.collapsed > .html-toggle-button
{
    background-image: url("jean_victor_balin_add_blue.png");
    padding-left: 34px;
    background-position: left center;
    background-repeat: no-repeat;
}

/* .activity.expanded > .html-toggle-button:before */
.activity.expanded > .html-toggle-button
{
    background-image: url("jean_victor_balin_remove_blue.png");
    padding-left: 34px;
    background-position: left center;
    background-repeat: no-repeat;
}

.html-toggle-button:hover a.headerlink:not(:hover) { opacity: 0; }

