body
{ 
  color: black;
 }

div.document
{ 
  padding-top: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.25em;
 }

.exco-choice { 
  margin-top: 0.5em;
 }
div.exco_embedded_problem
{ 
  width: 100%;
 }

iframe#excoiframe
/* object */
{ 
  width: 100%; /* No idea why if I put 100%, it goes over! */
  border: 1px solid black;
 }

div.exco_answer_choices,
div.exco_score
{ 
  margin-top: 0.5em;
  margin-bottom: 0.5em;
 }

div.exco_answer_panel
{ 
  margin-bottom: 0.5em;
 }
div.exco_all_completed
{ 
  padding-top: 2em;
  padding-bottom: 2em;
 }

div.exco_reset,
div.exco_next
{ 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
 }
span.exco_answer_choice
{ 
  margin-left: 0.5em;
  margin-right: 0.5em;
  }

div.exco_grade_button_div,
div.exco_score,
div.exco_all_completed
{ 
  text-align: center;
 }

ol.upperalpha {
  list-style: upper-alpha;
}

span.exco_grade_button_incorrect,
span.exco_grade_button_correct
{ 
  font-weight: bold;
 }

