<h1>Actions</h1>
{% if current_actions %}
  <table>
    <thead>
      <tr>
	<td>Name</td><td>Creator</td><td>From</td><td>Until</td>
      </tr>
    </thead>
    <tbody>
      {% for action in current_actions %}
	<tr>
	  <td><a href="update_action/{{ action.name }}">{{ action.name }}</a></td>
	  <td>{{ action.creator }}</td>
	  <td>{{ action.action_from }}</td>
	  <td>{{ action.action_until }}</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>There are no actions stored in the database.</p>
  <p><a href="input">Make a submission</a>.</p>
{% endif %}
