{% load staticfiles %}
{% block doctype %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block htmltitle %}
    <title>{{ title|striptags }}{{ titlesuffix }}</title>
    {% endblock %}
    {% block css %}
    {# Insert CSSs here #}
    <link rel="stylesheet" href="{% static 'elec1601.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'pygments.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'exco.css' %}" type="text/css" />
    {% endblock %}
    {% block javascripts %}
    {# Insert java scripts here #}
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'exco_grade.js' %}"></script>
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <div id="top_header">
      <div>{{ top_title }}</div>
    </div>
    {% endblock %}

    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="root"><a href="{{ url_home }}" target="_blank">{{ url_home_text }}</a></li>
        <li class="right">Exercise id: {{ problem_id }}</li>
      </ul>
    </div>

    <div class="document">
      <h1>Sequence entry in EXCO</h1>

      {% if form.subject.errors %}
          <ol>
          {% for error in form.subject.errors %}
              <li><strong>{{ error|escape }}</strong></li>
          {% endfor %}
          </ol>
      {% endif %}

      <form enctype="multipart/form-data" action="/exco/post_sequence" 
            method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <input type="submit" value="Insert" />
      </form>
    </div>

    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="root"><a href="{{ url_home }}" target="_blank">{{ url_home_text }}</a></li>
      </ul>
    </div>

    <div class="footer">
        &copy; Copyright {% now "Y" %}, The University of Sydney | Creative Commons License.
    </div>
  </body>
</html>
